/*navbar hover*/

nav ul li {
    border-radius: 10% 10% 10% 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
  }

  nav ul li:hover{
    background: rgba(255,255,205, 0.402);
    transition: all .3s;
    

  }

  span ul li {
    border-radius: 10% 10% 10% 10%;
    padding: 10px;
    font-weight: bold !important;
  }

  span ul li:hover{
    background: rgba(255,255,255, 0.402);
    transition: all .3s;

    font-weight: bold !important;
  }

    .margin{
      margin-top: -30px;
      margin-bottom: -30px;
    }
    .active
    {
      background: rgba(255,255,255, 0.402); 
      color: #F0E68C;
      border-radius: 10% 10% 10% 10%;
      padding: 10px !important;
      transition: all .3s;
    }

/*end*/

/*footer button insta fb whatsapp email*/

.btn-theme{
  color: #FFF !important;
  padding: 0.5rem 1.9rem; 
  font-weight: 400;
  font-size: 0.875rem;
  display: inline-block;
  display: inline-flex;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  align-items: center;
    position: relative;
    cursor: pointer;

  -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);

  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}

.btn-theme:before {
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    left: 60%;
    right: 60%;
    bottom: 0;
    opacity: 0;
    content: '';
    z-index: -2;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}
.btn-theme:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.btn-theme:focus,
.btn-theme:active{
  outline: none;
  box-shadow: none;
}
.btn-theme i,
[class*="link-"] i{
  padding-left: 5px;
  line-height: inherit;

  -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.btn-theme:hover i{
  transform: translateX(4px);
}
.btn-theme.icon-left i,
[class*="link-"].icon-left i{
  padding-right: 9px;
  padding-left: 0;
}
.btn-theme.inverse-icon-org i{
  color: #ff3514;
}
.btn-theme.inverse-icon-blk i{
  color: #000;
}
.btn-theme.light{
  color: #333 !important;
}
.btn-theme.no-shadow{
  box-shadow: none !important;
}
.btn-theme.icon-only i{
  padding: 0;
}
.gradient-button {
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center;transform: translateX(4px); }

.gradient-button-2 {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)}
.gradient-button-2:hover { background-position: right center; }

.gradient-button-3 {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}
.gradient-button-3:hover { background-position: right center; }

.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }

/*end*/

/*insta gradiant*/
#grad1 {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,  #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFDC80); /* Standard syntax (must be last) */
  }

/*end*/

/*services image zoom */


    .row > .column {
      padding: 0 8px;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      width: 20%;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 37px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 38%;
      max-width: 1200px;
      border: 0px;
    }

    /* The Close Button */
    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: zoom-out;
    }

    .mySlides {
      display: none;
    }

    .cursor {
      cursor: zoom-in;
    }

    .cursor1{
      cursor: zoom-out;
    }

    .cursor2{
      cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      background-color: white;
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

/*end*/